.loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-overlay);
    height: 100vh;
}

.loading-screen__logo {
    width: 13rem;
    animation: fadeInLogo 1s ease-in-out;
}

@keyframes fadeInLogo {
    from {
        opacity: 0;
        transform: scale(0.7);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}
