.time-control {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.set-timer__display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.set-timer__chevron {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 1.5rem;
    white-space: nowrap;
    transition: transform .2s ease;
}

.set-timer__chevron--pressed {
    transform: scale(.8);
    transition: transform .1s ease-out;
}

.set-timer__chevron:active,
.set-timer__chevron:focus {
    transform: scale(.85);
    transition: transform .05s ease;
}

.set-timer__time {
    font-size: 80px;
    margin: 0;
    white-space: nowrap;
}

.set-timer__time-span {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: rgb(80, 80, 80);
    font-size: 16px;
    white-space: nowrap;
}

.set-timer__start-button {
    padding: 5px 40px;
    font-size: 24px;
    letter-spacing: 2.5px;
    margin: .5rem 0 2.5rem 0;
}

.set-timer__start-button:disabled {
    cursor: default;
}

.set-timer__interval-toggle {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 245px;
}

.set-timer__interval-toggle span {
    font-size: .9em;
    margin-left: .7rem;
}
